<div class="container my-5">
  <div class="card edit-card">
    <form action="/restaurants/{{restaurant._id}}/edit" method="POST">
      {{!-- name --}}
      <div class="mb-3 row">
        <label for="name" class="col-form-label col-2">名稱</label>
        <div class="col-10">
          <input type="text" class="form-control" name="name" id="name" placeholder="吳留手-麗水店"
            value="{{restaurant.name}}" required>
        </div>
      </div>
      {{!-- category --}}
      <div class="mb-3 row">
        <label for="category" class="col-form-label col-2">類別</label>
        <div class="col-10">
          <select name="category" id="category" class="form-select" aria-label="Default select example"
            value="{{restaurant.category}}">
            <option>中東料理</option>
            <option>日本料理</option>
            <option>義式餐廳</option>
            <option>美式</option>
            <option>酒吧</option>
            <option>咖啡</option>
          </select>
        </div>
      </div>
      {{!-- image --}}
      <div class="mb-3 row">
        <label for="image" class="col-form-label col-2">Image Link</label>
        <div class="col-10">
          <input type="text" class="form-control" name="image" id="image" placeholder="http://..."
            value="{{restaurant.image}}" required>
        </div>
      </div>
      {{!-- location --}}
      <div class="mb-3 row">
        <label for="location" class="col-form-label col-2">地址</label>
        <div class="col-10">
          <input type="text" class="form-control" name="location" id="location" placeholder="台北市大安區麗水街 5-9 號"
            value="{{restaurant.location}}" required>
        </div>
      </div>
      {{!-- phone --}}
      <div class="mb-3 row">
        <label for="phone" class="col-form-label col-2">電話</label>
        <div class="col-10">
          <input type="text" class="form-control" name="phone" id="phone" placeholder="02 2396 0680"
            value="{{restaurant.phone}}" required>
        </div>
      </div>
      {{!-- google_map --}}
      <div class="mb-3 row">
        <label for="google_map" class="col-form-label col-2">Google Map Link</label>
        <div class="col-10">
          <input type="text" class="form-control" name="google_map" id="google_map"
            placeholder="https://goo.gl/maps/BKSPTqzJLRCKUSBd7" value="{{restaurant.google_map}}" required>
        </div>
      </div>
      {{!-- rating --}}
      <div class="mb-3 row">
        <label for="rating" class="col-form-label col-2">評分</label>
        <div class="col-10">
          <input type="text" class="form-control" name="rating" id="rating" placeholder="4.9"
            value="{{restaurant.rating}}" required>
        </div>
      </div>
      {{!-- description --}}
      <div class="mb-3 row">
        <label for="description" class="col-sm-2 col-form-label">餐廳描述</label>
        <div class="col-sm-10">
          <input type="text" name="description" class="form-control" id="description" rows="6"
            value="{{restaurant.description}}" required></input>
        </div>
        {{!-- Button--}}
        <div class="m-3 new-button text-center">
          <button type="submit" class="btn edit-btn-edit">Edit</button>
          <a href="/" class="btn btn-secondary" role="button">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>